*{
    margin: 0;
    padding: 0;
    background-color: rgb(40, 40, 40);
    color:rgb(230, 230, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

body{
    text-align: center;
    justify-content: center;}

header{
    background-color: rgb(20, 20, 20);}

footer{
    background-color: rgb(20, 20, 20);
    padding: 20px;
    margin-top: auto;}

